<h1>Electric Stations</h1>

<% @electric_stations.each do |station| %>
<p> <h3> <%= station.name %></h3> </p>
  <p><%= station.address %> </p>
  <p><%= station.fuel_types %> </p>
  <p><%= station.distance %> </p>
  <p><%= station.access_times %> </p>
<% end %>
